@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Fira Code";
    src: url(/static/font/FiraCode-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Bio Tif";
    src: url(/static/font/Biotif-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Bio Tif Bold";
    src: url(/static/font/Biotif-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: "Neuzeit Grotesk";
    src: url(/static/font/NeuzeitGrotesk-Bold.woff2) format("woff2");
  }
}

body {
  background-color: #08070b;
  color: white;
}
